* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.mainP {
    width:80%;
    display: flex;
    flex-direction:column;
    gap: 20px;
    
}